@width: 1920px;
@height: 780px;

body {
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgb(0, 0, 0);
}

.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lpadd {
  text-align: left;
  padding-left: 5px;
}

.rpadd {
  text-align: right;
  padding-right: 5px;
}

.centering {
  text-align: center;
}

.content {
  width: @width;
  height: @height;
}

@headerHeight: 80px;

.header {
  width: @width;
  height: @headerHeight;
  background: #ccc;
  position: relative;
}


.th {
  line-height: @headerHeight;
  font-size: 25px;
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px #111;
}

@rowHeight: 100px;

.td {
  height: @rowHeight;
  line-height: @rowHeight;
  font-size: 25px;
  position: absolute;
  color: #fff;
}

@wAtendimento: 300px;

.th-atendimento, .td-atendimento {
  width: @wAtendimento;
  background: rgb(7, 61, 119);
}

.td-atendimento {
  line-height: @rowHeight / 2;
  background: rgba(7, 61, 119, 0.2);
}

@wclassificacao: 100px;
@oclassificacao: @wAtendimento;

.th-classificacao {
  width: @wclassificacao;
  left: @oclassificacao;
  background: rgb(17, 48, 80);
}

.td-classificacao {
  width: @wclassificacao;
  left: @oclassificacao;
  background: rgba(17, 48, 80, 0.2);
}

@wPaciente: 350px;
@oPaciente: @wclassificacao + @oclassificacao;

.th-paciente {
  width: @wPaciente;
  left: @oPaciente;
  background: rgb(9, 37, 66);
}

.td-paciente {
  width: @wPaciente;
  left: @oPaciente;
  background: rgba(9, 37, 66, 0.2);
}

@wConvenio: 100px;
@oConvenio: @wPaciente + @oPaciente;

.th-convenio {
  width: @wConvenio;
  left: @oConvenio;
  background: rgb(5, 61, 120);
}

.td-convenio {
  width: @wConvenio;
  left: @oConvenio;
  font-size: 25px;
  background: rgba(5, 61, 120, 0.2);
}

@wObservacao: 270px;
@oObservacao: @wConvenio + @oConvenio;

.th-observacao {
  width: @wObservacao;
  left: @oObservacao;
  background: rgb(56, 0, 147);
}

.td-observacao {
  width: @wObservacao;
  left: @oObservacao;
  background: rgba(56, 0, 147, 0.2);
}

.in-observacao {
  width: @wObservacao;
}

.in-exames {
  width: @wExames;
}

.in-observacao, .in-exames {
  font-size: 18px;
  line-height: 33px;
  padding: 5px;
  height: @rowHeight;
}

@wEtapa: 100px;
@oEtapa: @wObservacao + @oObservacao;

.th-etapa {
  width: @wEtapa;
  left: @oEtapa;
  background: rgb(123, 0, 189);
}

.td-etapa {
  width: @wEtapa;
  left: @oEtapa;
  background: rgba(123, 0, 189, 0.2);
}

@wTempo: 120px;
@oTempo: @wEtapa + @oEtapa;

.th-tempo {
  width: @wTempo;
  left: @oTempo;
  background: rgb(130, 46, 28);
}

.td-tempo {
  width: @wTempo;
  left: @oTempo;
  background: rgba(130, 46, 28, 0.2);
}

@wExames: 320px;
@oExames: @wTempo + @oTempo;

.th-exames {
  width: @wExames;
  left: @oExames;
  background: rgb(0, 65, 47);
}

.td-exames {
  width: @wExames;
  left: @oExames;
  background: rgba(0, 65, 47, 0.2);
  overflow: hidden;
}

@wProtocolo: 120px;
@oProtocolo: @wExames + @oExames;

.th-protocolo {
  width: @wProtocolo;
  left: @oProtocolo;
  background: rgb(65, 101, 0);
}

.td-protocolo {
  width: @wProtocolo;
  left: @oProtocolo;
  background: rgba(65, 101, 0, 0.2);
}

@oInternar: @wProtocolo + @oProtocolo;
@wInternar: @width - @oInternar;

.th-internar {
  width: @wInternar;
  left: @oInternar;
  background: rgb(227, 145, 23);
}

.td-internar {
  width: @wInternar;
  left: @oInternar;
  background: rgba(227, 145, 23, 0.2);
}

// ROWS

.rows {
  position: absolute;
  width: @width;
  height: @height - @headerHeight;
  top: @headerHeight;
}

.row {
	position: absolute;
  width: @width;
	height: @rowHeight;
	line-height: @rowHeight;
}

.rowLoop(10);

.rowLoop (@n, @i:0) when (@i =< @n) {
  .row--@{i} {
    top: @i * @rowHeight;
    & when (mod(@i, 2) = 0) {
      background-color: hsla(0, 0%, 74%, 0.05);
    }
  }
  .rowLoop(@n, (@i + 1));
}

@classificacaoSize: 50px;

.classificacao {
  height: @classificacaoSize;
  width: @classificacaoSize;
  margin: ((@rowHeight - @classificacaoSize) / 2) ((@wclassificacao - @classificacaoSize) / 2);
  border-radius: 50px;
}

// 1	EMERGÊNCIA
.classificacao--VERMELHO {
  background: rgb(255, 0, 0);
}
// 2	MUITO URGENTE
.classificacao--LARANJA {
  background: rgb(255, 99, 0);
}
// 3	URGENTE
.classificacao--AMARELO {
  background: rgb(255, 255, 0);
}
// 4	POUCO URGENTE
.classificacao--VERDE {
  background: rgb(0, 255, 71);
}
// 5	NÃO URGENTE
.classificacao--AZUL {
  background: rgb(0, 255, 255);
}
// 6	MORTE
.classificacao--PRETO {
  background: rgb(0, 0, 0);
}
// 7	SITUACAO INCOMPATIVEL
.classificacao--BRANCO {
  background: rgb(255, 255, 255);
}

// ETAPA

@etapaSize: 60px;

.etapa {
  height: @etapaSize;
  width: @etapaSize;
  margin: ((@rowHeight - @etapaSize) / 2) ((@wEtapa - @etapaSize) / 2);
  border-radius: 5px;
  background-size: @etapaSize @etapaSize;
  background-repeat: no-repat;
}

// PROTOCOLO

@wP: 90px;
@hP: 60px;

.protocolo {
  height: @hP;
  line-height: @hP;
  font-size: 20px;
  width: @wP;
  margin: ((@rowHeight - @hP) / 2) ((@wProtocolo - @wP) / 2);
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}

.protocolo--0 {
  background: rgb(226, 84, 255);
}

.protocolo--1 {
  line-height: @hP / 2;
  background: rgb(245, 29, 29);
}

.protocolo--2 {
  line-height: @hP / 2;
  background: rgb(36, 138, 10);
}

.protocolo--3 {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  background: rgb(250, 255, 0);
}

// 1	CADASTRO NO TOTEM
// 10	CLASSIFICAÇÃO CHAMADA
// 11	CLASSIFICAÇÃO INÍCIO
// 12	CLASSIFICAÇÃO FINAL
// 20	ATENDIMENTO ADMINISTRATIVO CHAMADA
// 21	ATENDIMENTO ADMINISTRATIVO INÍCIO
// 22	ATENDIMENTO ADMINISTRATIVO FINAL
.etapa--recepcao {
  background-image: url('public/imgs/reception.png');
  background-color: rgb(149, 255, 243);
}
// 30	ATENDIMENTO MÉDICO CHAMADA
// 31	ATENDIMENTO MÉDICO INÍCIO
// 32	ATENDIMENTO MÉDICO FINAL
// 40	ATENDIMENTO SOCIAL CHAMADA
// 41	ATENDIMENTO SOCIAL INÍCIO
// 42	ATENDIMENTO SOCIAL FINAL
.etapa--medico {
  background-image: url('public/imgs/medic.png');
  background-color: rgb(255, 218, 103);
}

.etapa--enfermagem {
  background-image: url('public/imgs/nursing.png');
  background-color: rgb(250, 185, 241);
}

// 90	ATENDIMENTO MÉDICO ALTA
// 99	REMOVIDO DA LISTA
// 50	EXAME LABORATORIAL CHAMADA
// 60	EXAME IMAGEM CHAMADA
// 51	EXAME LABORATORIAL INÍCIO
// 52	EXAME LABORATORIAL FINAL
// 61	EXAME DE IMAGEM INÍCIO
// 62	EXAME DE IMAGEM FINAL
// 70	MEDICAÇÃO CHAMADA
// 71	MEDICAÇÃO INÍCIO
// 72	MEDICAÇÃO FINAL
// 80	PROCEDIMENTO CHAMADA
// 81	PROCEDIMENTO INÍCIO
// 82	PROCEDIMENTO FINAL
// 59	EXAME LABORATORIAL REMOÇÃO
// 69	EXAME DE IMAGEM REMOÇÃO
// 79	MEDICAÇÃO REMOÇÃO
// 89	PROCEDIMENTO REMOÇÃO
// 33	ATENDIMENTO MÉDICO REAVALIACAO
// 100	PRE-CLASSIFICACAO CHAMADA


@convenioSize: 75px;

.convenio {
  height: @convenioSize;
  width: @convenioSize;
  margin: ((@rowHeight - @convenioSize) / 2) ((@wConvenio - @convenioSize) / 2);
  border-radius: 5px;
  background-color: #fff;
  background-size: @convenioSize;
  background-repeat: no-repeat;
}

.convenio--BRADESCO {
  background-image: url("public/imgs/bradesco.png");
}

.convenio--FUNCEF {
  background-image: url("public/imgs/funcef.png");
}

.convenio--CST {
  background-image: url("public/imgs/cst.png");
}

.convenio--CODESA {
  background-image: url("public/imgs/codesa.png");
}

.convenio--BANESCAIXA {
  background-image: url("public/imgs/banescaixa.png");
}

.convenio--UNIMED {
  background-image: url("public/imgs/unimed.png")
}

.convenio--VALE {
  background-image: url("public/imgs/vale.png")
}

.convenio--SAMP {
  background-image: url("public/imgs/samp.png")
}

.convenio--AMIL {
  background-image: url("public/imgs/amil.png")
}

.convenio--PETROBRAS {
  background-image: url("public/imgs/petrobras.png")
}

.convenio--GEAP {
  background-image: url("public/imgs/petrobras.png")
}

@internarSize: 45px;
@internarColor: rgb(255, 240, 210);

.internar {
  height: @internarSize;
  width: @internarSize;
  margin: ((@rowHeight - @internarSize) / 2) ((@wInternar - @internarSize) / 2);
  border: 2px solid @internarColor;
  background-color: @internarColor;
  border-radius: 50px;
}

.internar--nao {
  background-color: transparent;
}
